/*------------------------------------*\
    #FORM
\*------------------------------------*/
form { 
	margin: 0; 
	padding: 0; 
}


label {
}


::placeholder {
	
}


input[type=text],
input[type=email],
input[type=url],
input[type=phone],
textarea { 
	border: none; 
	box-shadow: none; 
	outline: none;
	text-shadow: none; 
	
	&:hover { 
		border: none; 
		outline: none;
	}
	
	&:focus { 
		border: none; 
		box-shadow: none;
		outline: none;
		text-shadow: none;
	}

}

textarea { 
}


button,
input[type=submit] { 
	border: none; 
	cursor: pointer; 
}