/*------------------------------------*\
    #EXTENDS
\*------------------------------------*/

/**
 * CLEARFIX
 * Should be placed on the parent item
 * https://css-tricks.com/snippets/css/clear-fix/
 */
%clearfix:after,
.clearfix:after { 
  content: "";
  display: table;
  clear: both;
}





/**	
 * ALIGNMENT
 */

%left,
.left { 
	float: left; 			// left
}

%right,
.right { 					// right
	float: right; 
}

.text--left,
%text--left { 				// text left
	text-align: left; 
}

.text--right,
%text--right {  			// text right
	text-align: right; 
}

.text--center,
%text--center,
%center,
.center {  					// center
	text-align: center; 
	width: 100%; 
}





/**
 * LIST STYLING
 */
.no-bullets,
%no-bullets { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}

.no-margin-padding,
%no-margin-padding { 
	margin: 0; 
	padding: 0; 
}





/**
 * CIRCLE
 */
.circle,
%circle {
	border-radius: 50em;
}






/**
 * HAMBURGER
 * Reference: https://css-tricks.com/three-line-menu-navicon/
 */
%hamburger,
.hamburger {
	position: relative;
	padding-left: 1.5em;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0.21em;
		bottom: 0.21em;
		width: 1.25em;
		background: linear-gradient(
	    	to bottom, 
	    	black, black 15%, 
	    	transparent 15%, transparent 43%, 
	    	black 43%, black 58%, 
	    	transparent 58%, transparent 85%, 
	    	black 85%, black 100%
	  	);
	}
}