/*------------------------------------*\
    #FUNCTIONS
\*------------------------------------*/

@function path($src, $dir: img) {
	$src: unquote($src);
	@return url(unquote("..")/$dir/$src);
}


@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}


/*
	px to em
	https://css-tricks.com/snippets/sass/px-to-em-functions/
 */
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}