/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header { 

	.logo { 
		background: left top no-repeat;
		height: 100px;
		position: relative; 
		text-indent: -9999px;
		width: 250px;

		a {
			display: block;
			height: 100%;
			width: 100%;

			&:hover {
				background: none;
			}
		}
	}
}





/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
		
	ul { 
		@extend %no-bullets;
		
		> li { 
			
			> a { 

				&:hover { 
				}
			}
		}
	}
}
